a:link {color:green ;}
a:last-child{color:red;}

p:nth-child(2n+4) {color:red;}
p:nth-child(2n+5) {color:blue;}
p:last-child:hover {font-style: italic;}

p:nth-of-type(8n+2)::after{content:"-NEW";color: yellow;}
p:nth-child(2)::after{content:"-NEW";color: yellow;}

 